.container {
    border: grid;
    width: 100vw;
    padding: var(--responsive-size);
}
.showcase__product {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: var(--responsive-size);
}

.products {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    padding: var(--responsive-size);
    gap: var(--responsive-size);
}

.loader {
    text-align: center;
}

.pagination {
    display: flex;
   

    justify-content: space-between;
    padding: calc(var(--responsive-size)*2);
    align-items: center;
    border-bottom: 1px var(--color__grey-theme_accent) solid;
}

.block {
    display: none;
}

.total_pages {
    width: 100%;
    text-align: center;
    font-size: calc(var(--responsive-size)*2);
}

.pagination_btn {
    background-color: transparent;
    border: calc(var(--responsive-size)*0.2) solid #007bff;
    color: #007bff;
    padding: var(--responsive-size) calc(var(--responsive-size)*2);
    font-size: calc(var(--responsive-size)*1.5);
    border-radius: calc(var(--responsive-size)*0.5);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination_btn:hover {
    background-color: #007bff;
    color: white;
}

.pagination_btn:active {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(0.95);
    transition: background-color 0.1s ease;
}

.panel {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.span {
    font-size: calc(var(--responsive-size)*2);
}